botocore==1.27.23     
Django==4.0.6    
django-cors-headers==3.13.0   
django-environ==0.9.0    
django-storages==1.12.3   
djangorestframework==3.13.1       
ipython==8.4.0        
pdf2image==1.16.0   
pickleshare==0.7.5    
Pillow==9.2.0 
pyshorteners==1.0.1    